<%= render 'shared/header' %>

<div class="container-fluid basic-info">
  <div class="col-lg-6 col-lg-offset-3">
    <h2>Update Your Basic Information</h2>

    <%= render 'shared/flash' %>

    <br />

    <%= render 'form' %>
  </div>
</div>
