<div class="col-xs-12">
  <div class="page-holder bg-color page" style="background-image: url(file://<%= Rails.root.join('app/assets/images/'+@resume.resume_style.background_img) %>)">
    <div class="cv-builder full-layout">
      <% if page == 0 %>
				<div>
				  <%= render "partials/resume/header" %>
				</div>
      <% end %>
			<div>
				<% @resume.layout.section_data.each do |item| %>
				  <% if item[:page].to_i == page %>
				  	<%= render "partials/resume/#{item[:name].downcase}" %>
					<%end %>
				<% end %>
			</div>
    </div>
  </div>
</div>