<div class="section-items col-md-12 col-xs-12 p0" data-section-name="Skills">
  <section class="section-items-holder">
     <div class="heading-area">
        <h3>
           <div class="form-group">
              <input
                type="string"
                name="skill_header"
                style="height: 30px;"
                class="form-control primary_font"
                placeholder="SKILLS"
                value="SKILLS"
              />
           </div>
        </h3>
     </div>
     <div class="section-items-list">
        <ul class="row mrl0">
          <% @resume.skills.each do |skill| %>
            <% if(page == skill.page)%>
              <li class="section-item row mrl0">
                  <div class="form-group mb-0">
                     <textArea
                       type="string"
                       name="name"
                       class="form-control hide-show-control sub-header"
                       placeholder="Skill"
                     ><%= skill.name %></textArea>
                  </div>
                  <% if skill.show_level %> 
                    <h6 class="mt-24">
                       <p class="text-right"><%=@levelHash[skill.level.to_i]%></p>
                       <div class="form-group">
                          <input
                            type="range"
                            min="0" max="100" step="20"
                            name="level"
                            class=" height-5 form-control input-range"
                            placeholder="Beginner"
                            value=<%= skill.level %>
                          />
                       </div>
                    </h6>
                  <% end %>
              </li>
            <% end %>
          <% end %>
        </ul>
     </div>
  </section>
</div>