
<div class="main_container">

  <div class="col-md-3 left_col">
    <div class="left_col scroll-view">

      <div class="navbar nav_title" style="border: 0;">
        <a href="index.html" class="site_title"><img src="/assets/logo_zeinth.png" class="img-responsive"/></a>
      </div>
      <div class="clearfix"></div>


      <!-- menu profile quick info -->
      <div class="profile">
        <% if current_user.present? %>
          <div class="profile_pic">
            <%= image_tag "default_avatar.png", :class => "img-circle profile_img"  %>
          </div>
          <div class="profile_info">
            <span>Welcome,</span>
            <h2><%=current_user.email%></h2>
          </div>
        <% else %>
          <div class="profile_pic">
            <%= image_tag "default_avatar.png", :class => "img-circle profile_img"  %>
          </div>
          <div class="profile_info">
            <span>Welcome,</span>
            <h2>Guest</h2>
          </div>
        <% end %>
      </div>
      <!-- /menu profile quick info -->

      <br />
      <br />
      <br />
      <br />

      <!-- sidebar menu -->
      <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">

        <div class="menu_section">
          <p></p>
          <ul class="nav side-menu">
            <li data-toggle="modal" data-target="#rearrangeModal"> <a><i class="fa fa-paw"></i> Rearrange</a>
            </li>

            <li data-toggle="modal" data-target="#addSectionModal">
              <a><i class="fa fa-plus"></i> Add Section</a>
            </li>

            <li data-toggle="modal" data-target="#fontModal">
              <a><i class="fa fa-font"></i> Fonts</a>
            </li>

            <li data-toggle="modal" data-target="#colorModal">
              <a><i class="fa fa-tint"></i> Colors</a>
            </li>

            <li data-toggle="modal" data-target="#backgroundModal">
              <a><i class="fa fa-star-half-o"></i> Background</a>
            </li>

            <%= link_to('Logout', destroy_user_session_path, method: :delete) %>      

          </ul>
        </div>

      </div>
      <!-- /sidebar menu -->

      <!-- /menu footer buttons -->
      <div class="sidebar-footer hidden-small">
        <a data-toggle="tooltip" data-placement="top" title="Settings">
          <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
        </a>
        <a data-toggle="tooltip" data-placement="top" title="FullScreen">
          <span class="glyphicon glyphicon-fullscreen" aria-hidden="true"></span>
        </a>
        <a data-toggle="tooltip" data-placement="top" title="Lock">
          <span class="glyphicon glyphicon-eye-close" aria-hidden="true"></span>
        </a>
        <a data-toggle="tooltip" data-placement="top" title="Logout">
          <span class="glyphicon glyphicon-off" aria-hidden="true"></span>
        </a>
      </div>
      <!-- /menu footer buttons -->
    </div>
  </div>
