<!-- page content -->
<% if current_user %>
	<div role="main">
	  <%= react_component('IndexLogIn', current_user: current_user, resume: @latest_resume, resume_ids: @resume_ids)%>
	</div>
<% else %>
	<div role="main">
    <%= react_component('CvBuilder', current_user: nil, resume: @latest_resume)%>
	</div>
<% end %>
