<!-- page content -->
<div role="main">
  <div class="cv-builder-container">
    <div class="right_col" role="main">
      <div class="row build-cv">
        <% @resume.pages.times do |page| %>
        
          <% if @resume.layout.layout_type == 'double' %>
            <%= render "partials/resume/double_layout", page: page%>
          <% else %>
            <%= render "partials/resume/achievement" %>
            <%= render "partials/resume/award" %>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>
