<!-- page content -->
<div role="main">
  <div class="cv-builder-container">
    <div class="right_col" role="main">
      <div class="row build-cv">
        <div class="col-xs-12">
          <div class="page-holder bg-color page">
            <div class="cv-builder full-layout">
             <%= render "partials/resume/header" %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
