<%- unless flash.empty? %>
  <%- flash.each do |key, value| %>
    <div id="flash_msg"  class="alert alert-dismissible <%= key == 'warning' ? 'alert-danger' : 'alert-success' %>" role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <%= value %>
    </div>
  <%- end %>

  <%- flash.clear %>
<%- end %>
