<div class="modal fade login" id="loginModal">
  <div class="modal-dialog login animated">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Login with</h4>
      </div>

     

      <div class="modal-footer">
        <div class="forgot login-footer">
          <p>
            Looking to
            <a href="javascript: LoginService.showRegisterForm();">create an account</a>
            ?
          </p>
          <p>
            <a href="javascript: LoginService.showForgotPasswordForm();">Forgot password</a> ?
          </p>
          <p>
            <a href="javascript: LoginService.showUnlockForm();">Account locked</a> ?
          </p>
        </div>

        <div class="forgot register-footer" style="display:none">
          <span>Already have an account?</span>
          <a href="javascript: LoginService.showLoginForm();">Login</a>
        </div>
      </div>
    </div>
  </div>
</div>
