<section class="mbr-section mbr-section--relative mbr-section--fixed-size" id="contacts1-l" style="background-color: rgb(60, 60, 60);">

  <div class="mbr-section__container container">
    <div class="mbr-contacts mbr-contacts--wysiwyg row" style="padding-top: 20px; padding-bottom: 20px;">
      <div class="col-sm-4">
        <div> <a href="/"><img src="images/logo_140x45.png" class="img-responsive mbr-contacts__img mbr-contacts__img--left"></a></div>
        <div>
          &copy;
          <span id="copyright">
        <script>document.getElementById('copyright').appendChild(document.createTextNode(new Date().getFullYear()))</script>
          </span>
          ZenithCV
        </div>
      </div>
      <div class="col-sm-8">
        <div class="row">
          <div class="col-sm-4">
            <p class="mbr-contacts__text"><strong>CONTACTS</strong><br>
             support@zenithcv.com
              <br> rianne@zenithcv.com<br>
              <a class="mbr-contacts__link text-gray" href="about">About Us</a>
              <br>
            </p>
          </div>
         <!-- <div class="col-sm-3">
            <p class="mbr-contacts__text"><strong>ADDRESS</strong><br><br><br></p>
          </div>
           -->
          <div class="col-sm-4">
            <p class="mbr-contacts__text"><strong>LEGAL STUFF</strong></p>
            <ul class="mbr-contacts__list">
              <li><a class="mbr-contacts__link text-gray" href="terms">Terms of Use</a></li>
              <li><a class="mbr-contacts__link text-gray" href="privacy">Privacy Policy</a></li>
              <li><a class="mbr-contacts__link text-gray" href="cookies">Cookies Policy</a></li>
            </ul>
          </div>
          <div class="col-sm-4 pull-right">
            <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_blank">
              <input type="hidden" name="cmd" value="_s-xclick">
              <input type="hidden" name="hosted_button_id" value="8XVAUH3V74R8Q">
              <input type="image" class="img-responsive pull-right" src="images/paypal_donate.png" width="170" border="0" name="submit" alt="PayPal – The safer, easier way to pay online!">
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="mbr-section mbr-section--relative mbr-section--fixed-size" id="social-buttons2-i" style="background-color: rgb(255, 255, 255);">


  <div class="mbr-section__container container">
    <div class="mbr-header mbr-header--inline row" style="padding-top: 13.6px; padding-bottom: 0px;">
      <div class="col-sm-3">
        <h3 class="mbr-social-icons__text">PLEASE FOLLOW US &nbsp; &nbsp;</h3>
      </div>
      <div class="mbr-social-icons mbr-social-icons--style-1 col-sm-3">
        <a class="mbr-social-icons__icon socicon-bg-twitter" title="Twitter" target="_blank" href="https://twitter.com/zenith_cv"><i class="socicon socicon-twitter"></i></a>
        <a class="mbr-social-icons__icon socicon-bg-facebook" title="Facebook" target="_blank" href="https://www.facebook.com/zenithcvs"><i class="socicon socicon-facebook"></i></a>
        <a class="mbr-social-icons__icon socicon-bg-googleplus" title="Google+" target="_blank" href="https://plus.google.com/u/0/communities/107203765070036639220"><i class="socicon socicon-googleplus"></i></a>
      </div>

      <div class="col-sm-3">
        <h3 class="mbr-social-icons__text"> OR TELL YOUR FRIENDS!</h3>
      </div>
      <div class="mbr-social-icons col-sm-3">
        <div class="mbr-social-likes social-likes_style-1" data-counters="true">
          <div class="mbr-social-icons__icon social-likes__icon facebook socicon-bg-facebook" title="Share link on Facebook">
            <i class="socicon socicon-facebook"></i>

          </div>
          <div class="mbr-social-icons__icon social-likes__icon plusone socicon-bg-googleplus" title="Share link on Google+">
            <i class="socicon socicon-googleplus"></i>
          </div>
          <div class="mbr-social-icons__icon social-likes__icon twitter socicon-bg-twitter" title="Share link on Twitter">
            <i class="socicon socicon-twitter"></i>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>


