<section class="mbr-section mbr-section--relative mbr-section--fixed-size" id="contacts1-l" style="background-color: rgb(60, 60, 60);">

  <div class="mbr-section__container container">
    <div class="mbr-contacts mbr-contacts--wysiwyg row" style="padding-top: 20px; padding-bottom: 20px;">
      <div class="col-sm-4">
        <div> <a href="/"><img src="images/logo_140x45.png" class="img-responsive mbr-contacts__img mbr-contacts__img--left"></a></div>
        <div>
          &copy;
          <span id="copyright">
        <script>document.getElementById('copyright').appendChild(document.createTextNode(new Date().getFullYear()))</script>
          </span>
          ZenithCV
        </div>
      </div>
      <div class="col-sm-8">
        <div class="row">
          <div class="col-sm-4">
            <p class="mbr-contacts__text"><strong>CONTACTS</strong><br>
             support@zenithcv.com
              <br> rianne@zenithcv.com<br>
              <a class="mbr-contacts__link text-gray" href="about">About Us</a>
              <br>
            </p>
          </div>
         <!-- <div class="col-sm-3">
            <p class="mbr-contacts__text"><strong>ADDRESS</strong><br><br><br></p>
          </div>
           -->
          <div class="col-sm-4">
            <p class="mbr-contacts__text"><strong>LEGAL STUFF</strong></p>
            <ul class="mbr-contacts__list">
              <li><a class="mbr-contacts__link text-gray" href="terms">Terms of Use</a></li>
              <li><a class="mbr-contacts__link text-gray" href="privacy">Privacy Policy</a></li>
              <li><a class="mbr-contacts__link text-gray" href="cookies">Cookies Policy</a></li>
            </ul>
          </div>
          <div class="col-sm-4 pull-right">
            <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_blank">
              <input type="hidden" name="cmd" value="_s-xclick">
              <input type="hidden" name="hosted_button_id" value="8XVAUH3V74R8Q">
              <input type="image" class="img-responsive pull-right" src="images/paypal_donate.png" width="170" border="0" name="submit" alt="PayPal – The safer, easier way to pay online!">
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="mbr-section mbr-section--relative mbr-section--fixed-size" id="social-buttons2-i" style="background-color: rgb(255, 255, 255);">


  <div class="mbr-section__container container">
    <div class="mbr-header mbr-header--inline row" style="padding-top: 13.6px; padding-bottom: 0px;">
      <div class="col-sm-3">
        <h3 class="mbr-social-icons__text">PLEASE FOLLOW US &nbsp; &nbsp;</h3>
      </div>
      <div class="mbr-social-icons mbr-social-icons--style-1 col-sm-3">
        <a class="mbr-social-icons__icon socicon-bg-twitter" title="Twitter" target="_blank" href="https://twitter.com/zenith_cv"><i class="socicon socicon-twitter"></i></a>
        <a class="mbr-social-icons__icon socicon-bg-facebook" title="Facebook" target="_blank" href="https://www.facebook.com/zenithcvs"><i class="socicon socicon-facebook"></i></a>
        <a class="mbr-social-icons__icon socicon-bg-googleplus" title="Google+" target="_blank" href="https://plus.google.com/u/0/communities/107203765070036639220"><i class="socicon socicon-googleplus"></i></a>
      </div>

      <div class="col-sm-3">
        <h3 class="mbr-social-icons__text"> OR TELL YOUR FRIENDS!</h3>
      </div>
      <div class="mbr-social-icons col-sm-3">
        <div class="mbr-social-likes social-likes_style-1" data-counters="true">
          <div class="mbr-social-icons__icon social-likes__icon facebook socicon-bg-facebook" title="Share link on Facebook">
            <i class="socicon socicon-facebook"></i>

          </div>
          <div class="mbr-social-icons__icon social-likes__icon plusone socicon-bg-googleplus" title="Share link on Google+">
            <i class="socicon socicon-googleplus"></i>
          </div>
          <div class="mbr-social-icons__icon social-likes__icon twitter socicon-bg-twitter" title="Share link on Twitter">
            <i class="socicon socicon-twitter"></i>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>


 <div class="cv-builder-login-modal">
      <div class="cd-user-modal"> <!-- this is the entire modal form, including the background -->
        <div class="cd-user-modal-container"> <!-- this is the container wrapper -->
          <ul class="cd-switcher">
            <li><a href="javascript:;">Sign in</a></li>
            <li><a href="javascript:;">New account</a></li>
          </ul>

          <div id="cd-login"> <!-- log in form -->
            <form class="cd-form" action="/users/sign_in" method="post">
              <p class="fieldset">

                <input name="authenticity_token" type="hidden" 
                       value="<%= form_authenticity_token %>"/>
                <label class="image-replace cd-email" for="signin-email">E-mail</label>
                <input class="full-width has-padding has-border" id="signin-email" type="email" name="email" placeholder="E-mail" required>
                <span class="cd-error-message">Error message here!</span>
              </p>

              <p class="fieldset">
                <label class="image-replace cd-password" for="signin-password">Password</label>
                <input class="full-width has-padding has-border" id="signin-password" type="text" name="password"  placeholder="Password" minlength="7" required>
                <a href="javascript:;" class="hide-password">Hide</a>
                <span class="cd-error-message">Error message here!</span>
              </p>

              <p class="fieldset">
                <input type="checkbox" id="remember-me" checked>
                <label for="remember-me">Remember me</label>
              </p>

              <p class="fieldset">
                <input class="full-width" type="submit" value="Login">
              </p>
              <hr>
              <div class="text-center social-area">
                <p class="blue">Sign in with</p>
                <p>
                  <div class="icon-holder">
                    <a href="/users/auth/facebook">
                      <i class="fa fa-facebook-f fa-lg"></i>
                    </a>
                  </div>
                  <div class="icon-holder">
                    <a href="/users/auth/twitter">
                      <i class="fa fa-twitter fa-lg"></i>
                    </a>
                  </div>
                  <div class="icon-holder">
                    <a href="/users/auth/linkedin">
                      <i class="fa fa-linkedin-square"></i>
                    </a>
                  </div>
                  <div class="icon-holder">
                    <a href="/users/auth/google_oauth2">
                      <i class="fa fa-envelope"></i>
                    </a>
                  </div>
                  
                  
                  
                </p>
              </div>
            </form>
            
            <p class="cd-form-bottom-message"><a href="javascript:;">Forgot your password?</a></p>
            <!-- <a href="javascript:;" class="cd-close-form">Close</a> -->
          </div> <!-- cd-login -->

          <div id="cd-signup"> <!-- sign up form -->
            <form class="cd-form" action="/users" method="post">
              <p class="fieldset">
                <label class="image-replace cd-username" for="signup-username">Username</label>
                <input class="full-width has-padding has-border" id="signup-username" type="text" name="user_name" required placeholder="Username">
                <span class="cd-error-message">Error message here!</span>
              </p>

              <input name="authenticity_token" type="hidden" 
                     value="<%= form_authenticity_token %>"/>

              <p class="fieldset">
                <label class="image-replace cd-email" for="signup-email">E-mail</label>
                <input class="full-width has-padding has-border" id="signup-email" type="email" name="email" placeholder="E-mail" required>
                <span class="cd-error-message">Error message here!</span>
              </p>

              <p class="fieldset">
                <label class="image-replace cd-password" for="signup-password">Password</label>
                <input class="full-width has-padding has-border" id="signup-password" type="text" name="password" placeholder="Password" minlength="7" required>
                <a href="javascript:;" class="hide-password">Hide</a>
                <span class="cd-error-message">Error message here!</span>
              </p>

              <p class="fieldset">
                <input type="checkbox" id="accept-terms">
                <label for="accept-terms">I agree to the <a href="javascript:;">Terms</a></label>
              </p>

              <p class="fieldset">
                <input class="full-width has-padding" type="submit" value="Create account">
              </p>
            </form>

            <!-- <a href="javascript:;" class="cd-close-form">Close</a> -->
          </div> <!-- cd-signup -->

          <div id="cd-reset-password"> <!-- reset password form -->
            <p class="cd-form-message">Lost your password? Please enter your email address. You will receive a link to create a new password.</p>

            <form class="cd-form">
              <p class="fieldset">
                <label class="image-replace cd-email" for="reset-email">E-mail</label>
                <input class="full-width has-padding has-border" id="reset-email" type="email" placeholder="E-mail">
                <span class="cd-error-message">Error message here!</span>
              </p>

              <p class="fieldset">
                <input class="full-width has-padding" type="submit" value="Reset password">
              </p>
            </form>

            <p class="cd-form-bottom-message"><a href="javascript:;">Back to log-in</a></p>
          </div> <!-- cd-reset-password -->
          <a href="javascript:;" class="cd-close-form">Close</a>
        </div> <!-- cd-user-modal-container -->
      </div> <!-- cd-user-modal -->
    </div>