.black::placeholder { color: #000; }
.color-8616cc::placeholder { color: #8616cc; }
.color-FF0F0F::placeholder { color: #FF0F0F; }

.color-CF924A::placeholder { color: #CF924A; }
.color-A861A6::placeholder { color: #A861A6; }

.color-00a7dd::placeholder { color: #00a7dd; }
.color-FA6C00::placeholder { color: #FA6C00; }

.color-FB51A5::placeholder { color: #FB51A5; }
.color-5ac41d::placeholder { color: #5ac41d; }

.color-36006B::placeholder { color: #36006B; }
.color-58320E::placeholder { color: #58320E; }

.color-012B7E::placeholder { color: #012B7E; }

.input-range{
  -webkit-appearance: none;
  background-color: #000;
  width: 100%;
  height: 10px;   
}

input[type='number'] {
  -moz-appearance:textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

.fa:hover {
  cursor: pointer;
}
textarea{
	overflow: hidden;
	resize: none;
	word-wrap: break-word;
}