.black::-webkit-input-placeholder { color: #000; }
.color-8616cc::-webkit-input-placeholder { color: #8616cc; }
.color-FF0F0F::-webkit-input-placeholder { color: #FF0F0F; }

.color-CF924A::-webkit-input-placeholder { color: #CF924A; }
.color-A861A6::-webkit-input-placeholder { color: #A861A6; }

.color-00a7dd::-webkit-input-placeholder { color: #00a7dd; }
.color-FA6C00::-webkit-input-placeholder { color: #FA6C00; }

.color-FB51A5::-webkit-input-placeholder { color: #FB51A5; }
.color-5ac41d::-webkit-input-placeholder { color: #5ac41d; }

.color-36006B::-webkit-input-placeholder { color: #36006B; }
.color-58320E::-webkit-input-placeholder { color: #58320E; }

.color-012B7E::-webkit-input-placeholder { color: #012B7E; }

.input-range{
  -webkit-appearance: none;
  background-color: #000;
  width: 100%;
  height: 10px;   
}

input[type='number'] {
  -moz-appearance:textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

.fa:hover {
  cursor: pointer;
}