.cv-builder{
  background: #fff;
}
.cv-builder .section-items{
  padding: 10px;
  border: solid black 2px;
  margin-top: 5px;
}
.cv-builder-container .main_container {
  height: 100%;
  position: fixed;
  z-index: 21;
  left: 0;
}
.add-section-modal {
  display: inline-block;
}
.add-section-modal .section {
  color: white;
  cursor: pointer;
  background: #2A3F54;
  float: left;
  font-size: 13px;
  font-weight: 500;
  height: 109px;
  line-height: 110px;
  margin: 2px;
  text-align: center;
  width: 109px;
}