<title> ZenithCV </title>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="generator" content="ZenithCV, zenithcv.com">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="shortcut icon" href="<%= root_url %>images/favicon-32x32.png" type="image/x-icon">
<meta name="description" content="Use ZenithCV to create epic CVs that brings out the best of what you possess and makes you stand out from the crowd. It is free!">
<meta name="keywords" content="cv, resume, creative cv, cv builder, online cv builder, create resume, epic resume, epic cv, online resume, job, resume builder, create a cv, create resume, build cv,  build resume, resume design, cv design, first impression cv ">

<!-- Schema.org markup for Google+ -->
<meta itemprop="name" content="ZenithCV">
<meta itemprop="description" content="Use ZenithCV to create epic CVs that brings out the best of what you possess and makes you stand out from the crowd. It is free!">
<meta itemprop="image" content="<%= root_url %>images/meta_og_image.png">
<!-- twitter data -->
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="@zenith_cv">
<meta name="twitter:title" content="Make a winning first impression">
<meta name="twitter:creator" content="@zenith_cv">
<meta name="twitter:description" content="Use ZenithCV to create epic CVs that brings out the best of what you possess and makes you stand out from the crowd. It's free!">
<meta name="twitter:image" content="<%= root_url %>images/meta_og_image.png">
<!-- Open Graph data -->
<meta property="og:title" content="Make a winning first impression">
<meta property="og:type" content="website" />
<meta property="og:url" content="https://www.zenithcv.com" />
<meta property="og:image" content="<%= root_url %>images/meta_og_image.png">
<meta property="og:description" content="Use ZenithCV to create epic CVs that brings out the best of what you possess and makes you stand out from the crowd. It's free!">
<meta property="og:site_name" content="ZenithCV" />
